body {
    background-image: url('../img/stone.gif');
}

*{
    font-weight: 400 !important;
}

.stone-wall{
    background-image: url('../img/stone.gif');
}

@font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: 'Minecraft', system-ui, -apple-system, Segoe UI, Roboto, 'Helvetica Neue', Arial, sans-serif !important;
    font-weight: 300;
}

:root {
    --bs-body-font-family: 'Minecraft', var(--bs-font-sans-serif);
}

.balance{
    display: flex;
    justify-content: start;
    align-items: center;
}

.balance-inline {
    display: inline-flex !important;
}

.balance::after {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: .375rem;
    vertical-align: middle;
    background: url("../img/emerald.png") center / contain no-repeat;
}
